# Build artifacts
[Bb]in/
[Oo]bj/
# Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates
# Logs
*.log
# DLLs and PDBs
*.dll
*.pdb
# Rider and VSCode
.idea/
.vscode/
# Publish
publish/
# Local test results
TestResults/

# Ignore hidden directories (allow .git)
.[!.]*/
..?*/
!.git/
